<!-- 相手の名前もしくはグループ名を表示 -->
<header>
    <%= render ("message/message_header") %>
</header>

<!-- このページはリアルタイムで通信を行うのでjavascriptで処理を書く,画像は一度読み込めばいいのでメッセージのみ読み込む -->
<div class="container" id="chats">
    <div id="chat-view">
    <!--    <% @msg.map do |m| %>
            相手のメッセージと画像を表示
            <% unless m[:postid] == session[:user]["user_id"] %>
                <div class="d-flex mt-5">
                    <div class="offset-1">
                        <%= image_tag "https://picsum.photos/200/300" , class: "chat-image"%>
                    </div>
                    <div class="align-self-center chat-format"><%= m[:text]%></div>
                </div>  
            <% else %>    
                自分のメッセージと画像を表示 
                <div class="d-flex flex-row-reverse col-11 mt-5">
                    <div>
                        <%= image_tag "https://picsum.photos/200/300" , class: "chat-image"%>
                    </div>
                    <div class="align-self-center my-chat-format"><%= m[:text] %></div>
                </div>  
            <% end %>
        <% end %>  -->
    </div>
    <form name="form" class="mt-5 msg-form">
        <div class="form-group d-flex">
        <textarea name="msgText" class="form-control col-8 pr-5" id="exampleFormControlTextarea1" rows="3" cols="80" placeholder="ここにメッセージを入力してください"></textarea>
        <div class="align-self-center ml-5 col-3"><button type="button" class="btn btn-primary btn-lg pr-5 pl-5" id="form-btn">送信する</button></div>
    </form>

</div>

<%= render "layouts/firestore" %>
<%= render "message/real_times_chat" %>
    
