<% provide( :use_nav , "true") %> 
<% if flash[:alert].present? %>
    <div class="text-center alert alert-warning p-0"><%= flash[:alert] %></div>
<% end %>
<!-- グループIDで検索するためのフォーム　-->
<div class="offset-lg-2 offset-1 col-lg-8 col-11 mt-4 border border-success rounded-pill friend-search">
    <div class="h4 text-center">ユーザIDで検索</div>
    <%= form_with url: friend_view_path , local: true , class: "custom-form" do |form| %>
        <div class="text-center d-flex mt-5">
            <%= form.text_field :friend_id , class: "form-control" , size: 50 , maxlength: "30" , placeholder: "グループのIDを入力"  %>
            <%= form.submit "検索" , class: "btn btn-primary btn-lg ml-3 pr-4 pl-4 pt-0 pb-0"%>
        </div>
    <% end %>
</div>

<!-- グループ名で検索するためのフォーム　-->
<div class="offset-lg-2 offset-1 col-lg-8 col-11 mt-4 border border-success rounded-pill friend-search">
    <div class="h4 text-center">ユーザ名で検索</div>
    <%= form_with url: friend_view_path , local: true , class: "custom-form" do |form| %>
        <div class="text-center d-flex mt-5">
            <%= form.text_field :friend_name , class: "form-control" , size: 50 , maxlength: "30" , placeholder: "グループの名前を入力"  %>
            <%= form.submit "検索" , class: "btn btn-primary btn-lg ml-3 pr-4 pl-4 pt-0 pb-0"%>
        </div>
    <% end %>
</div>
<div class="text-center">
<%= link_to "戻 る" , "javascript:history.back()" , class: "btn btn-secondary btn-lg pr-5 pl-5 m-3"%>
</div>