<% provide( :use_nav , "true") %> 

<!-- ユーザの情報を表示する -->
<div class="text-center m-5 position-fixed">
    <div class="d-flex col-12 m-5">

        <%= image_tag "https://picsum.photos/200/300" , class: "info-image mr-5 rounded" %>

        <div class="d-flex flex-column h4 pl-5">
            <div class="info-text d-flex">
                <div class="text-right">ユーザID:</div>
                <div class="ml-3"><%= @friend[:userid] %></div>
            </div>

            <div class="info-text d-flex">
                <div>ユーザ名:</div>
                <div class="ml-3"><%= @friend[:name] %></div>
            </div>

            <div class="info-text d-flex">
                <div class>メール：</div>
                <div class="ml-3">メールアドレス</div>
            </div>

            <div class="info-text d-flex">
                <div>年齢：</div>
                <div class="ml-3">年齢</div>
            </div>
            
            <div class="text-center d-flex mt-5">
                <%= link_to "チャット" , message_path(user_id: @friend[:userid] , friend_name: @friend[:name]) , class: "btn btn-success btn-lg pr-5 pl-5 mr-4"%>
                <%= form_with url: friend_info_view_path(user_id: @friend[:userid]) , id: "friend-form" do |form| %>
                     <%= form.submit "フレンドになる" , class: "btn btn-info btn-lg mr-4" , id: "friend-btn" %>
                <% end %>
                <%= link_to "戻 る" , 'javascript:history.back()' , class: "btn btn-secondary btn-lg pr-5 pl-5"%>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'requestFriendBtn.js' %>