<% provide( :use_nav , "true") %> 

<!-- グループの情報を表示する -->
<div class="text-center m-5 position-fixed">
    <div class="d-flex col-12 m-5">
        <div>    
            <%= image_tag "https://picsum.photos/200/300" , class: "mr-5 mb-3 rounded info-image" , :size => '200x400'%>
            <%= form_with url: group_info_view_path(create_user_id: @group[:createuserid] , group_id: @group[:groupid]) , id: "group-form" do |form| %>
                <%= form.submit "グループに入る" , class: "btn btn-info btn-lg mr-4" , id: "group-btn" %>
            <% end %>
        </div>

        <div class="d-flex flex-column h4 pl-5">
            <div class="info-text d-flex">
                <div class="text-right">グループID:</div>
                <div class="ml-3"><%= @group[:groupid] %></div>
            </div>

            <div class="info-text d-flex">
                <div>グループ名:</div>
                <div class="ml-3"><%= @group[:groupname] %></div>
            </div>

            <div class="info-text d-flex">
                <div class>管理者:　　</div>
                <div class="ml-3"><%= @group[:createuserid] %></div>
            </div>

            <div class="info-text d-flex">
                <div>メンバー:　</div>
                <div class="ml-3">グループの人数</div>
            </div>
            
            <div class="d-flex">
                <!-- 権限があるユーザにだけ押せるようにする -->
                <% if @group[:createuserid] == @user_id %>
                    <%= link_to "編集する" , group_edit_path(group_name: @group[:groupname] , group_id: @group[:groupid]) , class: "btn btn-primary btn-lg pr-5 pl-5 mr-3"%>
                <% end %>
                <%= button_to "チャット" , message_path , { method: :get , params: {group_id: @group[:groupid] , title_name: @group[:groupname]} , id: "chat-btn" , class: "btn btn-success btn-lg pr-5 pl-5 mr-4" , disabled: true }  %>
                <%= link_to "戻 る" , 'javascript:history.back()' , class: "btn btn-secondary btn-lg pr-5 pl-5"%>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'requestGroupBtn.js' %>