<% provide( :use_nav , true) %>  <!-- サイドのナビメニューを表示する（表示しない場合は書かない）　-->

<div class="row">
    <div class ="container text-right mt-3">
        <%= link_to("グループを探す" , group_search_path , class: "btn btn-outline-primary" , type: "button")%>
        <%= link_to("グループを作る" , group_create_path , class: "btn btn-outline-primary" , type: "button")%>
    </div>
<!-- グループ一覧の画像を表示 -->
    <% for group in @groups do %>      <!-- データベースから送られてきた分だけループする -->
        <div class="col-md-6 col-10 text-center mt-5">
            <!-- aタグの代わりにlink_toを使用する（後でユーザごとに別のurlにする）-->
            <%= link_to(group_info_path(group_id: group[:groupid]), class: "col-md-6 col-10 text-center mt-5") do %>
                <%= image_tag "https://picsum.photos/200/300" , class: "view-images" %>
                <div class="image-name col-12 ml-md-2"><%= group[:groupname] %></div>
            <% end %>
        </div>
    <% end %>
</div>
