<% provide( :use_nav , "true") %> 

<!-- グループの情報を表示する -->
<div class="text-center m-5 position-fixed">
    <div class="d-flex col-12 m-5">

        <%= image_tag "https://picsum.photos/200/300" , class: "group-info-image mr-5 rounded" %>

        <div class="d-flex flex-column h4 pl-5">
            <div class="info-text d-flex">
                <div class="text-right">グループID:</div>
                <div class="ml-3"><%= @group[:groupid] %></div>
            </div>

            <div class="info-text d-flex">
                <div>グループ名:</div>
                <div class="ml-3"><%= @group[:groupname] %></div>
            </div>

            <div class="info-text d-flex">
                <div class>管理者:　　</div>
                <div class="ml-3">管理者名</div>
            </div>

            <div class="info-text d-flex">
                <div>メンバー:　</div>
                <div class="ml-3">グループの人数</div>
            </div>
            
            <div class="d-flex">
                <!-- 権限があるユーザにだけ押せるようにする -->
                <% if @group[:createuserid] == @user_id%>
                    <%= link_to "編集する" , "#" , class: "btn btn-primary btn-lg pr-5 pl-5 mr-3"%>
                <% end %>
                <%= link_to "チャット" , '#' , class: "btn btn-success btn-lg pr-5 pl-5 mr-3"%>
                <%= link_to "戻 る" , 'javascript:history.back()' , class: "btn btn-secondary btn-lg pr-5 pl-5"%>
            </div>
        </div>
    </div>
</div>