<% provide( :use_nav , "true") %> 
<%= link_to("投稿する" , time_line_post_path , class: "btn btn-outline-info btn-lg rounded-pill position-fixed mt-5 ml-3" , type: "button") %>
<% @time_lines.each do |time_line| %>
  <div class="card col-8 offset-md-3 offset-lg-2 offset-4 h6">
    <div class="card-header">
      <%= image_tag "https://picsum.photos/200/300" , class: "time-line-image" %>
      <%= time_line[:postuserid] %>
      <span class="time-line-date"><%= time_line[:date].strftime("%Y/%m/%d %H:%M") %></span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p class="card-content"><%= time_line[:content] %></p>
        <footer class="text-muted">
          <%= form_with url: time_line_path(time_line_id: time_line[:timelineid] , good_user: time_line[:gooduserid]) , html: { name: "goodForm" } do |form| %>
            <% if good_duplicate?(session[:user]["user_id"] , time_line[:gooduserid]) %>
              <i class="material-icons ml-4" data-id=<%= time_line[:timelineid] %> data-flg="false">thumb_up</i>
            <% else %>
              <i class="material-icons ml-4" data-id=<%= time_line[:timelineid] %> data-flg="true" style="color:blue;">thumb_up</i>
            <% end %>
            <span class="m-0 p-0"><%= time_line[:gooduserid].length %></span>
          <% end %>
        </footer>
      </blockquote>
    </div>
  </div>
<% end %>
<%= javascript_include_tag 'good.js' %>