<!-- サイドのナビメニュー -->
<div class="nav-main">
    <!-- メニューを縦に表示させ固定する　-->
    <nav class="nav flex-column h-100">
        <!-- サイドのメニューのユーザ情報を表示する -->
        <div class="nav-header">
            <div class="d-flex">
                <div><%= image_tag "https://picsum.photos/200/300" , class: "nav-image" %></div> <!-- 画像を表示する（ruby）-->
                <div class="d-flex flex-column align-self-center"> <!-- 名前とIDを縦に表示する -->
                    <div><b>Taro Yamada</b></div>                   <!-- 名前つける(ruby) --> 
                    <div class="text-center">ID:23740928</div>
                </div>
            </div>
        </div>

        <!-- ナビのメニューを表示 -->
        <!-- 　urlをつける -->
        <%= link_to "マイページ" , "#" , id: "nav-1" %>
        <%= link_to "タイムライン" , "#" , id: "nav-2" %>
        <%= link_to "フレンド" , "#" , id: "nav-3" %>
        <%= link_to "グループ" , "#" , id: "nav-4" %>
        <%= link_to "ログアウト" , "#" , id: "nav-5" %>
         
        <!-- ナビの最後の部分（何かサイトの情報を入れたい）  -->
        <div class="nav-footer">サイト名など</div> 
    </nav>
</div>
