<!-- サイドのナビメニュー -->
<div class="nav-main">
    <!-- メニューを縦に表示させ固定する　-->
    <nav class="nav flex-column h-100">
        <!-- サイドのメニューのユーザ情報を表示する -->
        <div class="nav-header">
            <div class="d-flex">
                <div id="img-div" data-userid='<%= session[:user]["user_id"] %>'><%= image_tag "" , class: "nav-image" , id: "image"%></div> <!-- 画像を表示する-->
                <div class="d-flex flex-column align-self-center"> <!-- 名前とIDを縦に表示する -->
                    <div><b><%= session[:user]["user_name"] %></b></div>                   <!-- 名前つける--> 
                    <div class="text-center">ID: <%= session[:user]["user_id"] %></div>
                </div>
            </div>
        </div>

        <!-- ナビのメニューを表示 -->
        <!-- 　urlをつける -->
        <%= link_to "通知" , notification_path , id: "nav-1" %>
        <%= link_to "マイページ" , mypage_path , id: "nav-2" %>
        <%= link_to "タイムライン" , time_line_path , id: "nav-3" %>
        <%= link_to "フレンド" , friend_view_path , id: "nav-4" %>
        <%= link_to "グループ" , group_view_path , id: "nav-5" %>
        <%= link_to "ログアウト" , logout_path , id: "nav-6" , data: {
            confirm: "ログアウトします。よろしいですか？",
            cancel: "やめる",
            commit: "ログアウト"
            } , title: "ログアウト"
        %>
         
        <!-- ナビの最後の部分（何かサイトの情報を入れたい）  -->
        <div class="nav-footer">サイト名など</div> 
    </nav>
</div>

<%= javascript_include_tag "printImage.js" %>
<%= javascript_include_tag "nav.js" %>
