<!DOCTYPE html>
<html>
  <head>
    <title>Bleach</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid d-flex" id="main">
      <%= render 'layouts/nav' unless :use_nav.empty? %>
      <div class="container-fluid p-0" id="main-content"><%= yield %><div>
    </div>
  </body>
</html>
