<!DOCTYPE html>
<html>
  <head>
    <title>Bleach</title>
    <%= csrf_meta_tags %>


    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-firestore.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- rubyからjavascriptに変数を渡すためにgonを追加 -->
    <%= include_gon %>
    </head>
  <body>
    <%= javascript_include_tag 'firestore.js' %>
    <div class="container-fluid d-flex" id="main">
      <%= render 'layouts/nav' if yield(:use_nav) == "true" %>
      <div class="container-fluid p-0" id="main-content"><%= yield %><div>
    </div>
  </body>
</html>
